/*
Template 2032 Gray Box
http://www.tooplate.com/view/2032-gray-box
*/

body {
	margin: 0;
	padding: 0;
	color: #a5a5a7;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #303030;
	background-repeat: repeat;
	background-image: url(../images/tooplate_body.png)
}

a, a:link, a:visited {
	color: #e5a923;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.more {
	display: block;
	width: 97px;
	height: 35px;
	line-height: 26px;
	color: #000;
	text-align: center;
	background: url(../images/tooplate_more_btn.png) no-repeat;
	font-weight: 700;
	text-decoration: none;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
}

img {
	border: none;
}

blockquote {
	font-style: italic;
	margin: 0 0 0 10px;
}

cite {
	font-weight: bold;
	color:#fff;
}

cite a, cite a:link, cite a:visited  {
	font-weight: bold;
	color:#fff;
}

cite span {
	font-weight: 400;
	color: #a5a5a7;
}

em {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 { color: #e5a923; font-weight: normal; 	font-family: Tahoma, Geneva, sans-serif }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 36px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 18px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 13px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_frame {
	background: #262424;
	border: 1px solid #333232;
	padding: 9px;
}

.image_fl {
	float: left;
	margin: 10px 30px 0 0;
}

.image_fr {
	float: right;
	margin: 10px 0 0 30px;
}

.tooplate_list {
	margin: 15px 0 15px 15px;
	padding: 0;
	list-style: none;
}

.tooplate_list li {
	color:#fff;
	margin: 0 0 5px 0;
	padding: 0 0 0 20px;
	background: url(../images/tooplate_list.png) no-repeat scroll 0 7px;
}

.tooplate_list li a {
	font-weight: normal;
}

.tooplate_list li a:hover {
	color: #fff;
}

#tooplate_body_wrapper {
	width: 100%;
	background: url(../images/tooplate_top.jpg) repeat-x top
}

#tooplate_wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}

#tooplate_header {
	width: 100%;
	height: 180px;
	background: url(../images/tooplate_header.jpg)
}

#tooplate_top {
	width: 960px;
	height: 42px;
}

#tooplate_login {
	float: right;
	margin-top: 6px;
}

#tooplate_login form {
	height: 30px;
	margin: 0;
	padding: 0;
}

#tooplate_login .txt_field {
	float: left;
	display: block;
	margin-left: 5px;
	height: 30px;
	width: 160px;
	color: #c7c7c7;
	font-size: 11px;
	padding: 0 5px;
	font-variant: normal;
	line-height: normal;
	background: url(../images/tooplate_login_txt.png) no-repeat;
	border: none;
	line-height: 30px;
}

#tooplate_login .sub_btn {
	float: left;
	display: block;
	margin-left: 5px;
 	height: 30px;
	width: 77px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #c7c7c7;
	border: none;
	background: url(../images/tooplate_login_btn.png)
}

#site_title {
	float: left;
	margin-top: 46px;
}

#site_title h1 {
	margin: 0;
	padding: 0;
}

#site_title h1 a {
	display: block;
	width: 220px;
	height: 40px;
	color: #fff;
	text-indent: -10000px;
	background: url(../images/tooplate_logo.png) no-repeat top left;
}

#tooplate_menu {
	float: right;
}

#tooplate_fw {
	width: 960px;
	height: 500px;
}

#tooplate_main {
	clear: both;
	width: 960px;
	padding: 60px 0 20px
}

#content {
	float: left;
	width: 630px;
}

#sidebar {
	float: right;
	width: 300px;
}

.col_fw {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #a3a3a3;
}

.col_fw_last {
	padding-bottom: 20px;
}

.col_w460 {
	width: 460px;
}

.col_w300 {
	width: 300px;
}

.col_allw300 {
	float: left;
	width: 300px;
	margin-right: 30px;
}

.col_w240 {
	float: left;
	width: 220px;
	padding-right: 20px;
}

.col_w630 {
	width: 630px;
}

.col_rm {
	margin: 0;
}

.fp_service {
	width: 280px;
	background: #262424;
	border: 1px solid #333232;
	padding: 9px 9px 4px;
	color: #ccc;
}

.fp_service_box {
	padding: 10px 10px 0;
	margin-bottom: 5px;
}

.fp_service_box p {
	float: right;
	width: 185px;
	font-size: 11px;
}

.fp_service_box a {
	display: block;
	font-size: 16px;
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.fp_service_box img {
	float: left;
}

.fp_c1 {
	background: #868686;
}

.fp_c2 {
	background: #6f6f6f;
}

.fp_c3 {
	background: #545454;
}

.fp_c4 {
	background: #3a3a3a;
}

.fp_lp {
	font-size: 11px;
	font-weight: 700;
	text-align: center;
}

.fp_lp img {
	border-bottom: 5px solid #fff;
}

.sidebar_box {
	width: 300px;
	background: #262424;
	border: 1px solid #333232;
	color: #ccc;
	margin-bottom: 40px;
}

.sidebar_box_inner {
	padding: 10px 10px 0;
	margin-bottom: 5px;
}

.sb_link {
	padding: 10px;
	margin: 0;
	list-style: none;
}

.sb_link li {
	padding: 0;
	margin: 0;
}

.sb_link li a {
	display: block;
	background: #3a3a3a;
	margin-bottom: 2px;
	padding: 3px 3px 3px 10px;
}

.sb_link li a:hover {
	text-decoration: none;
	background: #545454;
}

.post_box {
	background: #262424;
	border: 1px solid #333232;
	padding: 30px;
	clear: both;
	margin-bottom: 40px;
}

.post_box img {
	margin-bottom: 20px;
}

.post_box p {
	margin-bottom: 20px;
}

.post_box h2 {
	font-size: 34px;
	padding: 0 0 20px 0;
	margin-bottom: 20px;
	line-height: 34px;
	border-bottom: 1px dashed #403f3f;
}

.post_meta {
	border-top: 1px dashed #403f3f;
	margin-top: 20px;
	padding-top: 20px;
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 590px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none;
}

.comments li {
	margin-bottom: 10px;
	list-style:none;
}

.comments li .commentbox1 {
	background: #262424;
	border: 1px solid #333232;
}

.comments li .commentbox2 {
	background: #1b1a1a;
	border: 1px solid #262424;
}

.comments li .comment_box {
	clear: both;
	width:100%;
	padding: 15px;
}

.comment_box .gravatar {
	float: left;
	width: 50px;
	margin-right: 15px;
	background: #000;
}

.comment_box .gravatar img {
	margin: 0;
	width: 50px;
	height: 50px;
}

.comment_box .comment_text {
	margin: 0 0 0 65px;
}

.comment_box .comment_text p {
	margin: 0;
}

.comment_text .comment_author {
	font-size: 14px;
	font-weight: bold;
	color: #e5a923;
	margin-bottom: 10px;
}

.comment_text .date {
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	padding-left: 10px;
}

.comment_text .time {
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	padding-left: 10px;
}

.comment_text .reply a {
	display: block;
	clear: both;
	float: right;
	color: #e5a923;
	font-weight: 700;
}

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #262424; border: 1px solid #333232;
}

#comment_form textarea {
	color: #999;
	background:#161515 none repeat fixed 0 0;
	border: 1px solid #000000;
	display:block;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width: 360px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	color: #999;
	margin-top: 5px;
	padding: 5px;
	width: 200px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	background:#161515 none repeat fixed 0 0;
	border: 1px solid #000000;
}

#comment_form .submit_btn {
	width: 80px;
	padding: 5px 20px;
	background: #0c0c0c;
	border: 1px solid #000
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	padding: 4px;
	margin: 0 5px 5px 0;
	width: 220px;
	height: 150px;
	background: #262424;
	border: 1px solid #333232;
}

#gallery li a img {
	display: block;
	float: left;
	width: 220px;
	height: 150px;
	margin: 0 2px 2px 0;
}

.tooplate_paging {
	margin: 0 0 20px;
	padding: 0;
}

.tooplate_paging ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tooplate_paging ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

.tooplate_paging ul li a {
	float: left;
	display: block;
	color: #999;
	text-decoration: none;
	margin-right: 5px;
	padding: 5px 10px;
	background-color: #111;
	border: 1px solid #000;
}

.tooplate_paging ul li a:hover {
	background: #e5a923;
	border: 1px solid #000;
	color: #000;
}

#contact_form {
	padding: 0;
	width: 400px
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 270px;
	padding: 5px;
	color: #fff;
	background: #262424;
	border: 1px solid #333232;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px
}

#contact_form form textarea {
	width: 388px;
	height: 200px;
	padding: 5px;
	background: #262424;
	border: 1px solid #333232;
	color: #fff;
	font-family: Tahoma, Geneva, sans-serif;font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	display: block;
	padding: 5px 14px;
	background: #262424;
	border: 1px solid #333232;
	color: #a5a5a7;
	font-size:14px;
}

#map img {
	border: 5px solid #fff;
}

/* footer */
#tooplate_footer_wrapper {
	clear: both;
	width: 100%;
	background: #000000 url(../images/tooplate_footer.png) top repeat-x;
}

#tooplate_footer {
	clear: both;
	width: 960px;
	padding: 30px 10px 15px;
	margin: 0 auto;
	color: #876926;
}

#tooplate_footer h5 {
	margin-bottom: 30px;
	color: #b68e34;
}

.footer_link {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_link li {
	border-bottom: 1px dotted #876926;
	color: #5f4712;
	padding-bottom: 5px;
	margin-bottom: 5px; font-size: 11px;
}

.footer_link li a {
	color: #876926;
}

.footer_link li .social {
	padding-left: 30px;
}

.footer_link li .facebook {
	background: url(../images/facebook.png) left center no-repeat;
}

.footer_link li .linkedin {
	background: url(../images/linkedin.png) left center no-repeat;
}

.footer_link li .myspace {
	background: url(../images/myspace.png) left center no-repeat;
}

.footer_link li .youtube {
	background: url(../images/youtube.png) left center no-repeat;
}

.footer_link li .vimeo {
	background: url(../images/vimeo.png) left center no-repeat;
}